<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Thêm mới</title>
</head>
<body>
<h3>Thêm mới khách hàng</h3>
<p>
    <a th:href="@{/customers}">Quay lại trang chủ</a>
</p>
<div id="form">
    <form th:action="@{/customers/save}" th:object="${customer}" method="post" novalidate="novalidate">
        <input type="hidden" th:field="*{id}">
        <div>
            <label for="name">Nhập tên:</label>
            <input type="text" id="name" th:field="*{name}">
        </div>
        <div>
            <label for="email">Nhập email:</label>
            <input type="text" id="email" th:field="*{email}">
        </div>
        <div>
            <label for="address">Nhập địa chỉ:</label>
            <input type="text" id="address" th:field="*{address}">
        </div>
        <input type="submit" value="Lưu thông tin">
    </form>
</div>
<footer th:replace="layout::footer">
</footer>
</body>
</html>