<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Chỉnh sửa thông tin</title>
</head>
<body>
<h3>Chỉnh sửa thông tin khách hàng</h3>
<p>
    <a th:href="@{/customers}">Quay lại trang chủ</a>
</p>
<div id="form">
    <form th:action="@{/customers/update}" th:object="${customer}" method="post" novalidate="novalidate">
        <input type="hidden" th:field="*{id}">
        <div>
            <label for="name">Tên</label>
            <input type="text" id="name" th:field="*{name}">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" th:field="*{email}">
        </div>
        <div>
            <label for="address">Địa chỉ</label>
            <input type="text" id="address" th:field="*{address}">
        </div>
        <input type="submit" value="Lưu">
    </form>
</div>
<footer th:replace="layout::footer"></footer>
</body>
</html>